.mainTitle {
    padding: 40px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .mainTitle {
        font-size: 25px;
    }
}
