.container {
    width: 25%;
    margin: auto;
    box-sizing: border-box;
}

.mainForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 30);
    padding: 30px;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: rgb(0, 0, 30);
    color: white;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 100);
    outline: none;
}

.submitButton {
    background-color: rgb(0, 0, 150);
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    font-size: 22px;
}

@media (max-width: 420px) {
    .container {
        width: 70%;
    }

    .submitButton {
        font-size: 16px;
        padding: 20px;
    }
}
