.container {
    width: 65%;
    margin: auto;
    margin-bottom: 60px;
}

.addStudentButton {
    margin-bottom: 10px;
    background-color: rgb(0, 0, 180);
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 420px) {
    .container {
        width: 90%;
    }
}
